*.pdf
*.pptx
*.Rhistory
.Rhistory
*_Rhistory
*.RData
*.mat
*.lyx#
*.lyx~
*.docx
*.tex
*.csv
!main_work/code/gee-bootstrapp-app/gee_data.csv
*.rar
*.txt
desktop.ini
.Rproj.user
credentials-2.csv
connect_to_ssh.txt