# dirs
.Rproj.user
.idea
/archive/

# R
*.Rproj
*.Rhistory
.Rhistory
*_Rhistory
*.RData
*.mat

#docs
*.lyx#
*.lyx~
*.tex
*.pdf
*.pptx
*.docx

#google
desktop.ini
*Icon

# misc
*.csv
!main_work/code/gee-bootstrapp-app/gee_data.csv
*.rar
*.txt
*.png
credentials-2.csv
connect_to_ssh.txt
