# dirs
.Rproj.user
.Rproj.user/
.idea
/archive/

# R
*.Rproj
*.Rhistory
.Rhistory
*_Rhistory
*.RData
*.mat

#docs
*.lyx#
*.lyx~
*.pdf
*.pptx
*.docx
*.gdoc

#google
desktop.ini
*Icon

# misc
*.csv
!dev/apps/gee-bootstrapp-app/gee_data.csv
*.rar
*.zip
*.txt
*.png
credentials-2.csv
connect_to_ssh.txt
